<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<h1>
  <%= @article.title %>
  <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i>'), edit_article_path %>
  <%=
    link_to raw('<i class="fa-solid fa-trash"></i>'), article_path,
    data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete '#{@article.title}' ? It will be deleted forever"}
  %>
</h1>
<hr>
<h2>Description</h2>
<p><%= @article.content %></p>
<button type="button" class="btn btn-outline-primary"><%= link_to "Back to list", articles_path %></button>
